body {
  background-color: gray;
  background-image: url(https://i.redd.it/ueus9zz4tem11.jpg);
  background-size: cover;
  min-height: 100dvh;
}


.mainSnake {
  font-size: 6rem;

}

.metal-mania-regular {
  font-family: "Metal Mania", serif;
  font-weight: 400;
  font-style: normal;
}